@font-face {
    font-family: Oswald-Bold;
    src: url(/resources/fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: Oswald-Medium;
    src: url(/resources/fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(/resources/fonts/Roboto-Light.ttf);
}

body {
    margin: 0;
}

.desktopNavbar {
    width: 100vw;
    height: 80px;
    background-image: linear-gradient(180deg, rgb(34, 93, 255), rgb(4, 0, 255));

    display: grid;
    grid-template-areas: 'menuIcon logo   .      .  .   . buttons buttons'
        'menuIcon logo search nav  nav nav nav  nav';
    align-items: center;
}

.MobilesideMenu {
    display: none;
}

.sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-cta {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
    margin-top: 20px
}

.side-cta>button {
    text-align: center;
    background-color: #D03AF2;
    color: white;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 4px;

}

.overlay {
    display: none;
    width: 100vw;
    height: 121vh;
    background-color: black;
    z-index: 100;
    opacity: 50%;
    position: absolute;
}

.sideMenu a {
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: flex;
    opacity: 100%;
    transition: 0.3s;
    justify-content: center;
}

.sideMenu a:hover {
    color: #979797;
}

.sideMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.search {
    grid-area: search;
    position: relative;
    padding: 0 20px 0 0;
    background: #ddd;
    direction: ltr;
    width: 90%;
}

.search input {
    height: 20px;
    margin: 0;
    padding-right: 30px;
    width: 100%;
}

.search img {
    position: absolute;
    bottom: 2px;
    right: -8px;
    width: 18px !important;
    height: 24px;
}

.desktopNavbar img {
    width: 100px;
}

.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 25px;
}

.buttons a {
    text-decoration: none;
    color: white;
}

.buttons>button {
    background-color: rgb(238, 3, 238);
    border: none;
    border-radius: 10%;
    width: fit-content;
    padding: 5px 10px;
    color: white;
}

.menuIcon {
    margin: 0 auto
}

.menuIcon>div {
    border-radius: 15%;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px;
}

.links {
    grid-area: nav;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    align-items: center;
    color: white;
}

.links img {
    width: 20px;
}

.links a {
    text-decoration: none;
    color: white;
}

.mobileNavbar {
    display: none;
}

.seperator {
    height: 60%;
    background-color: black;
    width: 1px;
}

h1 {
    text-align: center;
    font-family: Oswald-Bold;
}

a {
    font-family: Roboto-light;
}

.mainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;

}

.mobileMainContainer {
    display: none;
}

.newGameContainer {

    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.newGameContainer img {
    max-width: 100%;
    max-height: 100%;
}

.headImg img {
    width: 260px;
    height: 322px;
}

.rightMedium img {
    width: 240px;
    height: 292px;
}

.rightSmal img {
    width: 230px;
    height: 272px;
}

.leftMedium img {
    width: 240px;
    height: 292px;
}

.leftSmal img {
    width: 230px;
    height: 272px;
}

.saleContainer {
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 2vw;
}

.MobileSaleContainer {
    display: none;
}

.saleContainer img {
    height: 100%;
    width: 100%;
}

footer {
    width: 100vw;
    height: 80px;
    background-image: linear-gradient(180deg, rgb(34, 93, 255), rgb(4, 0, 255));
    text-align: center;
    padding-top: 10px;
    color: white;
    margin-top: 50px;

}


@media only screen and (max-width:770px) {
    body {
        margin: 0;
    }

    .desktopNavbar {
        display: none;
    }

    .mobileNavbar {
        display: flex;
        width: 95vw;
        height: 60px;
        background-color: blue;
        margin-bottom: 5vh;
        align-items: center;
        justify-content: space-between;
        padding: 0 4vw;
    }

    .mobileNavbar img {
        padding-right: 10px;
    }

    .menuIcon {
        margin: 0;

    }

    .MobilesideMenu {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        z-index: 101;
        opacity: 100%;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .menu-CTA {
        text-align: center;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .menu-CTA>button {
        text-align: center;
        background-color: #D03AF2;
        color: white;
        width: 130px;
        height: 47px;
        border: none;
        border-radius: 4px;

    }

    .menu-CTA>button:focus {
        text-align: center;
        background-color: #A43DFC;
        color: white;
        width: 130px;
        height: 47px;
        border: none;
        border-radius: 4px;

    }

    .MobilesideMenu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;

        font-size: 25px;
        color: black;
        display: flex;
        opacity: 100%;
        transition: 0.3s;
        justify-content: center;
    }

    .MobilesideMenu a:hover {
        color: #979797;
    }

    .MobilesideMenu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .mainContainer {
        display: none;
    }

    .mobileMainContainer {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0 auto;

    }

    h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;

    }

    h3 {
        font-family: Oswald-Medium;
    }

    .MobileNewGameContainer {

        display: flex;
        width: 100%;
        height: 300px;
        margin-bottom: 150px;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .MobileNewGameContainer img {
        max-width: 100%;
        max-height: 100%;
    }

    .MobileHeadImg img {
        width: 255px;
        height: 300px;

    }

    .MobileRightMedium img {
        width: 245px;
        height: 280px;
    }

    .MobileLeftMedium img {
        width: 245px;
        height: 280px;
    }

    .MobileSaleContainer {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px;
        text-align: center;
    }

    .MobileSaleContainer img {
        width: 225px;
        height: 320px;
        padding: 0px;
    }



}